Workflow avec Split parallèle (8).json
{
  "name": "Workflow avec Split parallèle",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8",
          "mode": "list",
          "cachedResultName": "Stockage article ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Articles envoyés",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -128,
        208
      ],
      "id": "92c13613-2303-4a32-af75-9b75a85c7acc",
      "name": "Lire articles déjà envoyés",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Of3aojWoAn4AcnS4",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "term",
              "value": "={{$json.pubmed_term}}"
            },
            {
              "name": "datetype",
              "value": "pdat"
            },
            {
              "name": "mindate",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy/MM/dd') }}"
            },
            {
              "name": "maxdate",
              "value": "={{ $now.minus({ days: 1 }).toFormat('yyyy/MM/dd') }}"
            },
            {
              "name": "retmode",
              "value": "json"
            },
            {
              "name": "retmax",
              "value": "20"
            },
            {
              "name": "api_key",
              "value": "9ffae49b7e30d12efeb1babc13a1cd166909"
            },
            {
              "name": "sort",
              "value": "relevance"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        32
      ],
      "id": "1b4dd88e-4450-42de-9a3a-8e488097ff20",
      "name": "Recherche articles HIER"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "term",
              "value": "={{$json.pubmed_term}}"
            },
            {
              "name": "datetype",
              "value": "pdat"
            },
            {
              "name": "mindate",
              "value": "={{ $now.minus({ years: 1 }).toFormat('yyyy/MM/dd') }}"
            },
            {
              "name": "maxdate",
              "value": "={{ $now.toFormat('yyyy/MM/dd') }}"
            },
            {
              "name": "retmode",
              "value": "json"
            },
            {
              "name": "retmax",
              "value": "50"
            },
            {
              "name": "api_key",
              "value": "9ffae49b7e30d12efeb1babc13a1cd166909"
            },
            {
              "name": "sort",
              "value": "relevance"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        432
      ],
      "id": "4e994ae3-7681-436a-8ad9-fb34eca97cce",
      "name": "Recherche articles ANNÉE"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les articles déjà envoyés depuis Google Sheets\nlet sentPmids = [];\n\ntry {\n  const sentArticlesData = $('Lire articles déjà envoyés').all();\n  \n  if (sentArticlesData && sentArticlesData.length > 0) {\n    // Essayer différentes variantes de noms de colonnes (PMID, pmid, Pmid)\n    sentPmids = sentArticlesData\n      .map(item => {\n        const pmid = item.json.PMID || item.json.pmid || item.json.Pmid;\n        return pmid ? String(pmid).trim() : null;\n      })\n      .filter(pmid => pmid);\n    \n    // Supprimer les doublons dans la liste des PMIDs déjà envoyés\n    sentPmids = [...new Set(sentPmids)];\n  }\n  \n  console.log('📋 Articles déjà envoyés:', sentPmids);\n  console.log('📋 Liste des PMIDs:', sentPmids.join(', '));\n} catch (error) {\n  console.log('⚠️ Feuille Google Sheets vide ou erreur de lecture - Premier lancement');\n  console.log('Erreur:', error.message);\n  sentPmids = [];\n}\n\n// Récupérer les articles d'HIER\nconst yesterdayData = $('Recherche articles HIER').first().json;\nconst yesterdayIds = (yesterdayData.esearchresult?.idlist || []).map(id => String(id).trim());\nconsole.log('🔥 Articles trouvés HIER:', yesterdayIds.length);\n\n// Récupérer les articles de l'ANNÉE\nconst yearData = $('Recherche articles ANNÉE').first().json;\nconst yearIds = (yearData.esearchresult?.idlist || []).map(id => String(id).trim());\nconsole.log('📚 Articles trouvés sur l\\'ANNÉE:', yearIds.length);\n\n// Filtrer les articles d'HIER non encore envoyés\nconst availableYesterdayIds = yesterdayIds.filter(id => !sentPmids.includes(id));\nconsole.log('✅ Articles d\\'HIER disponibles (non envoyés):', availableYesterdayIds.length);\nconsole.log('✅ PMIDs disponibles hier:', availableYesterdayIds.join(', '));\n\nlet selectedId = null;\nlet selectionSource = '';\n\n// PRIORITÉ 1: Si on a des articles d'hier disponibles, en choisir un\nif (availableYesterdayIds.length > 0) {\n  const randomIndex = Math.floor(Math.random() * availableYesterdayIds.length);\n  selectedId = availableYesterdayIds[randomIndex];\n  selectionSource = 'YESTERDAY_PRIORITY';\n  console.log('🎯 PRIORITÉ: Article d\\'HIER sélectionné (PMID):', selectedId);\n} else {\n  // PRIORITÉ 2: Sinon, choisir parmi les articles de l'année\n  console.log('⚠️ Aucun article d\\'hier disponible, sélection dans l\\'année...');\n  \n  const availableYearIds = yearIds.filter(id => !sentPmids.includes(id));\n  console.log('✅ Articles de l\\'ANNÉE disponibles:', availableYearIds.length);\n  \n  if (availableYearIds.length === 0) {\n    throw new Error('❌ Tous les articles ont déjà été envoyés ! Ajustez les critères de recherche.');\n  }\n  \n  const randomIndex = Math.floor(Math.random() * availableYearIds.length);\n  selectedId = availableYearIds[randomIndex];\n  selectionSource = 'YEAR_FALLBACK';\n  console.log('📌 Article de l\\'ANNÉE sélectionné (PMID):', selectedId);\n}\n\nconsole.log('🎯 PMID final sélectionné:', selectedId);\nconsole.log('🎯 Source de sélection:', selectionSource);\n\nreturn [\n  {\n    json: {\n      pubmed_id: selectedId,\n      selection_source: selectionSource,\n      yesterday_available: availableYesterdayIds.length,\n      year_total: yearIds.length,\n      already_sent: sentPmids.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        208
      ],
      "id": "1b5deb32-c044-4019-bc37-296ef9617980",
      "name": "Sélection avec priorité HIER"
    },
    {
      "parameters": {
        "url": "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/efetch.fcgi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "db",
              "value": "pubmed"
            },
            {
              "name": "id",
              "value": "={{$json.pubmed_id}}"
            },
            {
              "name": "rettype",
              "value": "abstract"
            },
            {
              "name": "retmode",
              "value": "xml"
            },
            {
              "name": "api_key",
              "value": "9ffae49b7e30d12efeb1babc13a1cd166909"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        208
      ],
      "id": "8da9bae6-9cb6-4b47-ac19-9b47c9dcc0d8",
      "name": "Récupérer détails article"
    },
    {
      "parameters": {
        "jsCode": "// Extraire les informations de l'article depuis le XML\nconst xml = $input.item.json.data;\n\nfunction extractText(xmlContent, startTag, endTag) {\n  const start = xmlContent.indexOf(startTag);\n  if (start === -1) return '';\n  const end = xmlContent.indexOf(endTag, start);\n  if (end === -1) return '';\n  return xmlContent.substring(start + startTag.length, end).trim();\n}\n\nfunction extractAll(xmlContent, tag) {\n  const regex = new RegExp(`<${tag}[^>]*>([^<]+)</${tag}>`, 'g');\n  const matches = [];\n  let match;\n  while ((match = regex.exec(xmlContent)) !== null) {\n    matches.push(match[1]);\n  }\n  return matches;\n}\n\nfunction resolveMonth(monthValue) {\n  if (!monthValue) return '';\n  const normalized = monthValue.toString().trim().toLowerCase();\n  const monthMap = {\n    jan: 1,\n    january: 1,\n    feb: 2,\n    february: 2,\n    mar: 3,\n    march: 3,\n    apr: 4,\n    april: 4,\n    may: 5,\n    mai: 5,\n    jun: 6,\n    june: 6,\n    jul: 7,\n    july: 7,\n    aug: 8,\n    august: 8,\n    sep: 9,\n    sept: 9,\n    september: 9,\n    oct: 10,\n    october: 10,\n    nov: 11,\n    november: 11,\n    dec: 12,\n    december: 12\n  };\n\n  if (/^\\d+$/.test(normalized)) {\n    const numeric = parseInt(normalized, 10);\n    if (numeric >= 1 && numeric <= 12) {\n      return numeric;\n    }\n  }\n\n  return monthMap[normalized] || '';\n}\n\nfunction formatPublicationDate(xmlContent) {\n  const pubDateMatch = xmlContent.match(/<PubDate>([\\s\\S]*?)<\\/PubDate>/);\n  const articleDateMatch = xmlContent.match(/<ArticleDate[^>]*>([\\s\\S]*?)<\\/ArticleDate>/);\n\n  const source = pubDateMatch ? pubDateMatch[1] : articleDateMatch ? articleDateMatch[1] : '';\n  const year = extractText(source, '<Year>', '</Year>');\n  const monthRaw = extractText(source, '<Month>', '</Month>');\n  const dayRaw = extractText(source, '<Day>', '</Day>');\n  const medlineDate = extractText(source, '<MedlineDate>', '</MedlineDate>');\n\n  const monthNumber = resolveMonth(monthRaw);\n  const dayNumber = dayRaw && /^\\d+$/.test(dayRaw.trim()) ? parseInt(dayRaw.trim(), 10) : '';\n\n  const hasYear = year && /^\\d{4}$/.test(year.trim());\n  const hasMonth = Boolean(monthNumber);\n  const hasDay = Boolean(dayNumber);\n\n  let isoDate = '';\n  let displayDate = '';\n\n  if (hasYear && hasMonth && hasDay) {\n    const date = new Date(Date.UTC(parseInt(year, 10), monthNumber - 1, dayNumber));\n    isoDate = date.toISOString().split('T')[0];\n    displayDate = date.toLocaleDateString('fr-FR', {\n      day: '2-digit',\n      month: 'long',\n      year: 'numeric',\n    });\n  } else if (hasYear && hasMonth) {\n    const date = new Date(Date.UTC(parseInt(year, 10), monthNumber - 1, 1));\n    isoDate = date.toISOString().split('T')[0];\n    displayDate = date.toLocaleDateString('fr-FR', {\n      month: 'long',\n      year: 'numeric',\n    });\n  } else if (medlineDate) {\n    displayDate = medlineDate;\n    const yearMatch = medlineDate.match(/(19|20)\\d{2}/);\n    if (yearMatch) {\n      isoDate = `${yearMatch[0]}-01-01`;\n    }\n  } else if (hasYear) {\n    displayDate = year.trim();\n    isoDate = `${year.trim()}-01-01`;\n  } else {\n    displayDate = 'Date non disponible';\n  }\n\n  return {\n    isoDate,\n    displayDate,\n    year: hasYear ? year.trim() : '',\n  };\n}\n\nconst pmid = extractText(xml, '<PMID Version=\"1\">', '</PMID>');\nconst title = extractText(xml, '<ArticleTitle>', '</ArticleTitle>');\n\nlet abstract = '';\nconst abstractTexts = extractAll(xml, 'AbstractText');\nif (abstractTexts.length > 0) {\n  abstract = abstractTexts.join('\\n\\n');\n}\n\nconst lastNames = extractAll(xml, 'LastName');\nconst forenames = extractAll(xml, 'ForeName');\nconst authors = [];\nfor (let i = 0; i < Math.min(lastNames.length, forenames.length); i++) {\n  authors.push(`${forenames[i]} ${lastNames[i]}`);\n}\nconst authorsString = authors.length > 0 ? authors.join(', ') : 'Auteurs non disponibles';\n\nconst journal = extractText(xml, '<Title>', '</Title>');\nconst publicationDate = formatPublicationDate(xml);\nconst doi = extractText(xml, '<ELocationID EIdType=\"doi\" ValidYN=\"Y\">', '</ELocationID>');\n\nconst pubmedUrl = `https://pubmed.ncbi.nlm.nih.gov/${pmid}/`;\nconst doiUrl = doi ? `https://doi.org/${doi}` : '';\n\nconsole.log('📄 Article parsé:');\nconsole.log('PMID:', pmid);\nconsole.log('Titre:', title);\nconsole.log('Journal:', journal);\nconsole.log('Date de publication:', publicationDate.displayDate);\nconsole.log('Auteurs:', authorsString);\nconsole.log('DOI:', doi);\n\nreturn {\n  json: {\n    pmid,\n    title,\n    abstract,\n    authors: authorsString,\n    journal,\n    publication_date_display: publicationDate.displayDate,\n    publication_date_iso: publicationDate.isoDate,\n    year: publicationDate.year,\n    doi,\n    pubmed_url: pubmedUrl,\n    doi_url: doiUrl,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        208
      ],
      "id": "ef50368a-a8a6-40ca-b7dc-a469ebe28987",
      "name": "Parser XML article"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les données de l'article parsé\nconst article = $input.item.json;\n\nconst formatValue = (value, fallback = 'Information non disponible') => {\n  if (value === undefined || value === null) {\n    return fallback;\n  }\n  const text = String(value).trim();\n  return text === '' ? fallback : text;\n};\n\nconst translateText = async (text, targetLang) => {\n  const sanitized = text.trim();\n  if (!sanitized) {\n    return '';\n  }\n\n  try {\n    const response = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://libretranslate.de/translate',\n      body: {\n        q: sanitized,\n        source: 'auto',\n        target: targetLang,\n        format: 'text',\n      },\n      json: true,\n      timeout: 8000,\n    });\n\n    if (response && response.translatedText) {\n      return response.translatedText.trim();\n    }\n  } catch (error) {\n    console.log(`⚠️ Échec de la traduction (${targetLang}) :`, error.message || error);\n  }\n\n  return sanitized;\n};\n\nconst originalTitle = formatValue(article.title, 'Titre non disponible');\nconst originalAbstract = formatValue(article.abstract, 'Résumé non disponible pour cet article.');\n\nconst [titleFr, abstractFr] = await Promise.all([\n  translateText(originalTitle, 'fr'),\n  translateText(originalAbstract, 'fr'),\n]);\n\nconst titleEn = originalTitle;\nconst abstractEn = originalAbstract;\n\nconst publicationDate = formatValue(article.publication_date_display, 'Date non disponible');\n\nconst emailHtml = `\n<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    :root { color-scheme: only light; }\n    body {\n      margin: 0;\n      padding: 36px 0;\n      font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;\n      background: linear-gradient(180deg, #f3f4f6 0%, #e5f0ff 100%);\n      color: #0f172a;\n    }\n    .wrapper {\n      max-width: 760px;\n      margin: 0 auto;\n      background: #ffffff;\n      border-radius: 20px;\n      overflow: hidden;\n      box-shadow: 0 25px 60px rgba(15, 23, 42, 0.12);\n      border: 1px solid rgba(14, 116, 144, 0.12);\n    }\n    .header {\n      background: #0f172a;\n      color: #f8fafc;\n      padding: 40px 44px;\n      border-bottom: 4px solid #38bdf8;\n    }\n    .header-title {\n      margin: 0;\n      font-size: 24px;\n      font-weight: 600;\n      letter-spacing: 0.5px;\n    }\n    .header-subtitle {\n      margin: 12px 0 0;\n      font-size: 15px;\n      color: rgba(248, 250, 252, 0.8);\n    }\n    .content {\n      padding: 44px;\n      background: linear-gradient(180deg, rgba(56, 189, 248, 0.08) 0%, rgba(56, 189, 248, 0) 55%);\n    }\n    .greeting {\n      font-size: 18px;\n      margin: 0 0 18px;\n    }\n    .intro {\n      margin: 0 0 28px;\n      font-size: 15px;\n      line-height: 1.7;\n      color: #334155;\n    }\n    .meta-pill {\n      display: inline-flex;\n      align-items: center;\n      gap: 8px;\n      background: rgba(56, 189, 248, 0.14);\n      color: #0f172a;\n      border: 1px solid rgba(56, 189, 248, 0.35);\n      padding: 10px 16px;\n      border-radius: 999px;\n      font-size: 13px;\n      font-weight: 600;\n      margin-bottom: 24px;\n    }\n    .card {\n      background: #ffffff;\n      border-radius: 18px;\n      border: 1px solid rgba(15, 23, 42, 0.08);\n      padding: 32px;\n      box-shadow: 0 20px 40px rgba(15, 23, 42, 0.08);\n    }\n    .title-fr {\n      margin: 0 0 10px;\n      font-size: 23px;\n      line-height: 1.4;\n      color: #0f172a;\n    }\n    .title-en {\n      margin: 0;\n      font-size: 15px;\n      color: #2563eb;\n      font-weight: 500;\n    }\n    .summary-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));\n      gap: 24px;\n      margin: 32px 0;\n    }\n    .summary-column {\n      background: rgba(15, 23, 42, 0.04);\n      border-radius: 16px;\n      padding: 22px 24px;\n      border: 1px solid rgba(15, 23, 42, 0.08);\n    }\n    .summary-column h3 {\n      margin: 0 0 12px;\n      font-size: 15px;\n      text-transform: uppercase;\n      letter-spacing: 1px;\n      color: #0f172a;\n    }\n    .summary-text {\n      font-size: 15px;\n      line-height: 1.7;\n      color: #1f2937;\n      white-space: pre-line;\n    }\n    .meta-grid {\n      display: grid;\n      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));\n      gap: 18px;\n      margin-top: 16px;\n    }\n    .meta-item {\n      padding: 16px;\n      border-radius: 14px;\n      background: rgba(15, 23, 42, 0.04);\n      border: 1px solid rgba(148, 163, 184, 0.35);\n    }\n    .meta-label {\n      display: block;\n      font-size: 12px;\n      letter-spacing: 0.6px;\n      text-transform: uppercase;\n      color: #475569;\n      margin-bottom: 6px;\n    }\n    .meta-value {\n      font-size: 15px;\n      font-weight: 600;\n      color: #0f172a;\n      line-height: 1.5;\n    }\n    .cta {\n      margin: 38px 0 10px;\n      text-align: center;\n    }\n    .button {\n      display: inline-block;\n      padding: 14px 28px;\n      border-radius: 999px;\n      text-decoration: none;\n      font-weight: 600;\n      font-size: 15px;\n      background: linear-gradient(135deg, #2563eb 0%, #1d4ed8 100%);\n      color: #ffffff;\n      box-shadow: 0 16px 35px rgba(37, 99, 235, 0.3);\n      transition: transform 0.2s ease, box-shadow 0.2s ease;\n    }\n    .button:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 20px 45px rgba(37, 99, 235, 0.35);\n    }\n    .footer {\n      padding: 28px 44px;\n      font-size: 12px;\n      color: #475569;\n      text-align: center;\n      background: #f8fafc;\n      border-top: 1px solid rgba(15, 23, 42, 0.08);\n    }\n    @media (max-width: 640px) {\n      body { padding: 20px 0; }\n      .content { padding: 32px 24px; }\n      .header { padding: 32px 24px; }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"wrapper\">\n    <div class=\"header\">\n      <h1 class=\"header-title\">Veille scientifique – Performance & Entraînement</h1>\n      <div class=\"header-subtitle\">Synthèse quotidienne des nouvelles publications PubMed</div>\n    </div>\n    <div class=\"content\">\n      <p class=\"greeting\">Bonjour <strong>{{PRENOM}}</strong>,</p>\n      <p class=\"intro\">Voici la publication mise en avant aujourd'hui. Nous traduisons automatiquement les informations essentielles pour faciliter votre lecture et votre partage.</p>\n      <div class=\"meta-pill\">📅 Paru le ${publicationDate}</div>\n      <div class=\"card\">\n        <h2 class=\"title-fr\">${formatValue(titleFr, 'Titre indisponible')}</h2>\n        <p class=\"title-en\">Titre (EN) : ${formatValue(titleEn, 'Title unavailable')}</p>\n        <div class=\"summary-grid\">\n          <div class=\"summary-column\">\n            <h3>Résumé (FR)</h3>\n            <div class=\"summary-text\">${formatValue(abstractFr, 'Résumé non disponible')}</div>\n          </div>\n          <div class=\"summary-column\">\n            <h3>Summary (EN)</h3>\n            <div class=\"summary-text\">${formatValue(abstractEn, 'Summary unavailable')}</div>\n          </div>\n        </div>\n        <div class=\"meta-grid\">\n          <div class=\"meta-item\">\n            <span class=\"meta-label\">Auteurs</span>\n            <span class=\"meta-value\">${formatValue(article.authors)}</span>\n          </div>\n          <div class=\"meta-item\">\n            <span class=\"meta-label\">Journal</span>\n            <span class=\"meta-value\">${formatValue(article.journal)}</span>\n          </div>\n          <div class=\"meta-item\">\n            <span class=\"meta-label\">Identifiant PubMed</span>\n            <span class=\"meta-value\">${formatValue(article.pmid)}</span>\n          </div>\n        </div>\n      </div>\n      <div class=\"cta\">\n        <a class=\"button\" href=\"${article.pubmed_url}\" target=\"_blank\" rel=\"noopener\">Ouvrir l'article sur PubMed</a>\n      </div>\n      <p class=\"intro\" style=\"margin-top: 30px;\">Besoin de suivre un thème particulier ou d'approfondir un sujet ? Répondez directement à ce message, nous ajusterons la veille en conséquence.</p>\n    </div>\n    <div class=\"footer\">\n      Diffusé automatiquement par Auto-PubMed • ${new Date().toLocaleDateString('fr-FR', { day: '2-digit', month: 'long', year: 'numeric' })}\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst emailSubject = `Veille Performance – ${formatValue(titleFr || titleEn, 'Article PubMed')}`;\n\nconsole.log('✉️ Email formaté avec succès');\nconsole.log('Sujet:', emailSubject);\n\nreturn {\n  json: {\n    ...article,\n    title_fr: titleFr,\n    title_en: titleEn,\n    abstract_fr: abstractFr,\n    abstract_en: abstractEn,\n    email_html: emailHtml,\n    email_subject: emailSubject,\n  },\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        208
      ],
      "id": "9713d11a-47ce-45e2-9497-d8bffe56ad32",
      "name": "Formater email"
    },
    {
      "parameters": {
        "jsCode": "// Préparer l'enregistrement dans Google Sheets à partir du premier item reçu\nconst item = $input.first();\n\nif (!item || !item.json) {\n  throw new Error('Aucune donnée article disponible pour l\\'enregistrement.');\n}\n\nconst normalize = (value) => {\n  if (value === null || value === undefined) {\n    return '';\n  }\n  const text = String(value).trim();\n  return text === 'undefined' ? '' : text;\n};\n\nconst now = new Date();\nconst dateEnvoi = now.toISOString().split('T')[0];\n\nreturn [\n  {\n    json: {\n      PMID: normalize(item.json.pmid),\n      Titre: normalize(item.json.title_fr || item.json.title),\n      Titre_original: normalize(item.json.title_en || item.json.title),\n      Journal: normalize(item.json.journal),\n      Auteurs: normalize(item.json.authors),\n      Date_publication: normalize(item.json.publication_date_display),\n      Date_envoi: dateEnvoi,\n      Lien_PubMed: normalize(item.json.pubmed_url),\n      Lien_DOI: normalize(item.json.doi_url),\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        208
      ],
      "id": "f157134a-79ac-47c5-bb0f-fb6741b7c22f",
      "name": "Dédupliquer pour Sheets"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8",
          "mode": "list",
          "cachedResultName": "Stockage article ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Articles envoyés",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LIbI9g8Wr2m83FYD9znY_skczXXGKsD9I_BcUpX2zd8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "PMID",
              "displayName": "PMID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Titre",
              "displayName": "Titre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Journal",
              "displayName": "Journal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Auteurs",
              "displayName": "Auteurs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Date_envoi",
              "displayName": "Date_envoi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Lien_PubMed",
              "displayName": "Lien_PubMed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Lien_DOI",
              "displayName": "Lien_DOI",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Titre_original",
              "displayName": "Titre_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "Date_publication",
              "displayName": "Date_publication",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1632,
        208
      ],
      "id": "784b7604-0ead-45e7-8913-629669f15db6",
      "name": "Enregistrer dans Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Of3aojWoAn4AcnS4",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        112,
        192
      ],
      "id": "3db771c9-1f75-4468-baba-81a000957599",
      "name": "Merge1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.destinataire_email }}",
        "subject": "=📚 Article du jour ",
        "message": "={{ $json.email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1232,
        208
      ],
      "id": "17d2c4f8-b348-4fb1-9134-225f05b3a73a",
      "name": "Send a message",
      "webhookId": "77afcce5-9b1f-4ea2-ac23-6a205cc85908",
      "credentials": {
        "gmailOAuth2": {
          "id": "LDwFOtZc6mExSCz4",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Liste des destinataires - MODIFIEZ CETTE LISTE AVEC VOS DESTINATAIRES\nconst destinataires = [\n  { prenom: 'Pierre', email: 'pierre.cordelier35@gmail.com' },\n  { prenom: 'Matthieu', email: 'matthieu.cordelier35@gmail.com'}\n  \n  // Ajoutez vos destinataires ici\n];\n\n// Récupérer les données de l'email formaté\nconst emailData = $input.first().json;\n\n// Créer un item pour chaque destinataire avec l'email personnalisé\nconst items = destinataires.map(dest => {\n  // Remplacer le placeholder {{PRENOM}} par le vrai prénom\n  const emailHtmlPersonnalise = emailData.email_html.split('{{PRENOM}}').join(dest.prenom);\n  \n  return {\n    json: {\n      email_html: emailHtmlPersonnalise,\n      email_subject: emailData.email_subject,\n      destinataire_email: dest.email,\n      destinataire_prenom: dest.prenom,\n      pmid: emailData.pmid,\n      title: emailData.title,\n      authors: emailData.authors,\n      journal: emailData.journal\n    }\n  };\n});\n\nconsole.log(`📧 ${items.length} emails personnalisés créés`);\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        208
      ],
      "id": "cec983f8-4016-4e6a-aa01-5e1bc14a2aa9",
      "name": "Personnaliser par destinataire1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        208
      ],
      "id": "67e5cea4-a1c2-47fb-9154-07576dcfe79e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "pubmed_term",
              "value": "(\"Athletic performance\"[Title/Abstract] OR \"Sport performance\"[Title/Abstract]) AND (Exercise[Title/Abstract] OR \"Exercice\"[Title/Abstract] OR Training[Title/Abstract] OR Nutrition[Title/Abstract] OR Fatigue[Title/Abstract] OR Recovery[Title/Abstract] OR Strength[Title/Abstract] OR Endurance[Title/Abstract] OR \"Physical endurance\"[Title/Abstract] OR Motivation[Title/Abstract] OR \"Mental fatigue\"[Title/Abstract] OR \"Wearable electronic devices\"[Title/Abstract] OR \"Artificial Intelligence\"[Title/Abstract] OR \"Body composition\"[Title/Abstract] OR Diet[Title/Abstract] OR \"Dietary supplement\"[Title/Abstract] OR \"Water electrolyte balance\"[Title/Abstract] OR Carbohydrates[Title/Abstract] OR Proteins[Title/Abstract] OR Lipids[Title/Abstract] OR \"Stress psychological\"[Title/Abstract] OR \"Self-efficacy\"[Title/Abstract] OR \"Self‑efficacy\"[Title/Abstract] OR Sleep[Title/Abstract] OR \"Athletic injuries\"[Title/Abstract] OR Rehabilitation[Title/Abstract] OR \"Réhabilitation\"[Title/Abstract] OR Biomarkers[Title/Abstract] OR Genetics[Title/Abstract] OR Testosterone[Title/Abstract] OR Hormones[Title/Abstract] OR \"Oxidative stress\"[Title/Abstract] OR \"Motion analysis\"[Title/Abstract])"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -272,
        208
      ],
      "id": "a6b39435-1c4d-4e1f-8aaf-0fe0c24d9efa",
      "name": "Définir requête PubMed"
    }
  ],
  "pinData": {},
  "connections": {
    "Lire articles déjà envoyés": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sélection avec priorité HIER": {
      "main": [
        [
          {
            "node": "Récupérer détails article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer détails article": {
      "main": [
        [
          {
            "node": "Parser XML article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser XML article": {
      "main": [
        [
          {
            "node": "Formater email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dédupliquer pour Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater email": {
      "main": [
        [
          {
            "node": "Personnaliser par destinataire1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recherche articles HIER": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dédupliquer pour Sheets": {
      "main": [
        [
          {
            "node": "Enregistrer dans Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recherche articles ANNÉE": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sélection avec priorité HIER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personnaliser par destinataire1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Définir requête PubMed",
            "type": "main"
          },
          {
            "node": "Lire articles déjà envoyés",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Définir requête PubMed": {
      "main": [
        [
          {
            "index": 0,
            "node": "Recherche articles HIER",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Recherche articles ANNÉE",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8aed7004-84b0-4cbb-b840-56d56ce620b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "74bbb56dc362a142465e929f41c613e8c69175224b069768c3eb2f1903a2c817"
  },
  "id": "zeO4OGe5YmWwTsRM",
  "tags": []
}